.logo_Home {
  background-color: rgba(29, 44, 65, 0.863);
  background-image: url("../../assets/home_logout.png");
  background-repeat: no-repeat;
  height: 617px;
  background-size: cover; 
}

@media (max-width: 768px) {
  .logo_Home {
    background-size: cover; 
    height: 300px; 
  }
}
